*~


aclocal.m4
.anjuta
.anjuta_sym_db.db
autogen.sh
autom4te.cache
ChangeLog
compile
config.guess
config.h.in
config.sub
configure
configure.ac
Debug
depcomp
hellovojt.anjuta
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
Makefile.am
Makefile.in
missing
po

COPYING
INSTALL
NEWS
